
*{
    padding: 0;
    margin: 0;
}

.header {
    display: grid;
    place-content: center;
    background: beige;
    color: black;

    height: 100px
}



.game-container {
    display: grid;
    place-content: center;
    place-items: center;
    gap: 10px;
}

.board{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    place-content: center;
    margin-top: 25px;
    margin-bottom: 50px;
}

.sqr:nth-child(-n + 3) {
    border-bottom: 2px solid black;

}
.sqr:nth-child(-n + 6) {
    border-bottom: 2px solid black;

}

.sqr:nth-child(-n + 8) {
    border-right: 2px solid black;
   }

.sqr[index='2'],.sqr[index='5'] {
    border-right: none;
}   


.sqr {
   
    font-size: 200px;
    display: grid;
    place-content: center;
    font-size: 5rem;
}

.announcement {
    display: grid;
    place-items: center;
    gap: 10px;
}

